
* {
    
   margin: 0%;
   padding: 0%; 
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #FF6317;
    
}

.titulo-destaque {
    color:#23FA96;
}

.fabio{
    border-radius: 10%;

    border: #23FA96;
    border-style: solid;
    
    box-shadow: 5px 4px #07AD60;
}

.pai {
    margin: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pai__texto {
    width: 616px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pai__texto__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
   
}

.pai__texto__texto{

    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

}

.pai__texto_links{

    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.pai__texto_links_link{
    background-color: #23FA96;
    width: 250px;
    text-align: center;
    border-radius: 16px;
    font-size: 26px;
    padding: 24px 0px;
    color: #000000;
}

.pai__texto_links_link{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}